<mat-tab-group mat-stretch-tabs color="primary">
    <mat-tab label="Current">
      <ng-template matTabContent>
        <wetr-station-measurement-detail></wetr-station-measurement-detail>
      </ng-template>
    </mat-tab>
    <mat-tab label="Hourly Today">
      <ng-template matTabContent>
        <wetr-station-measurement-detail></wetr-station-measurement-detail>
      </ng-template>
    </mat-tab>
    <mat-tab label="10-Day">
      <ng-template matTabContent>
        <wetr-station-measurement-detail></wetr-station-measurement-detail>
      </ng-template>
    </mat-tab>
</mat-tab-group>