<mat-toolbar color="primary">
  <span routerLink="/welcome">{{ title | uppercase }}</span>
  <span class="toolbar-fill-remaining-space"></span>
  <wetr-search-location class="toolbar-right"></wetr-search-location>
  <mat-icon class="toolbar-right">person</mat-icon>
  
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened mode="side" role="navigation" class="mat-elevation-z8">
    <mat-nav-list>
      <a mat-list-item routerLink="/welcome">Home</a>
      <a mat-list-item routerLink="/stations">Stations</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<footer>
  <div>Icons made by <a href="https://www.flaticon.com/authors/kirill-kazachek" title="Kirill Kazachek">Kirill Kazachek</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  </div>
</footer>