<mat-toolbar color="primary">
  <span routerLink="/welcome" class="header-title">{{ title | uppercase }}</span>
  <span class="toolbar-fill-remaining-space"></span>
  <wetr-search-location class="toolbar-right"></wetr-search-location>
  <wetr-login></wetr-login>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened mode="side" role="navigation" class="mat-elevation-z8">
    <mat-nav-list>
      <a mat-list-item routerLink="/welcome" (click)="setHeader('Welcome')">Welcome</a>
      <a mat-list-item routerLink="/dashboard" (click)="setHeader('Dashboard')">Dashboard</a>
      <a mat-list-item routerLink="/stations" (click)="setHeader('Stations')">Stations</a>
      <a mat-list-item routerLink="/admin" (click)="setHeader('Admin')">Admin</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<footer class="mat-elevation-z8">
  <div>
    <h2 class="mat-h2">
      Manuel Hinterreiter (S1610307018)
    </h2>
  </div>
</footer>