mat-sidenav-container {
    height: -moz-calc(100% - 140px); /* Firefox */
    height: -webkit-calc(100% - 140px); /* Chrome, Safari */
    height: calc(100% - 140px); /* IE9+ and future browsers */
}

mat-sidenav-content,
mat-sidenav {
    height: 100%;
}
mat-sidenav {
    width: 200px;
}

mat-toolbar {
    height: 70px;
}

.toolbar-fill-remaining-space {
    flex: 1 1 auto;
}

.toolbar-right {
    margin-left: 14px;
}

.toolbar-right.login-btn:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,.04);
}

main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
}

footer {
    height: 70px;
    background-color: #3f51b5;
    color: white;
}

footer div {
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}