<mat-toolbar color="primary" class="mat-elevation-z8">
  <span>New Station</span>
</mat-toolbar>
<form #stationForm="ngForm" (ngSubmit)="submitStationForm()">
  <table cellspacing="0">
    <tr>
      <td>
        <mat-form-field>
          <input matInput placeholder="Name" name="name" [(ngModel)]="station.Name" required type="text" maxlength="50">
          <mat-error *ngIf="errors.name">{{errors.name}}</mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Type" name="type" [(ngModel)]="station.Type" type="text" required maxlength="100">
          <mat-error *ngIf="errors.type">{{errors.type}}</mat-error>
        </mat-form-field>
      </td>
    <tr>
      <td colspan="2">
        <mat-form-field>
          <input matInput placeholder="Address" name="address" [(ngModel)]="station.Address" type="text">
          <mat-error *ngIf="errors.address">{{errors.address}}</mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <input matInput placeholder="Post Code" name="postcode" required [(ngModel)]="station.PostCode.Code" type="number">
          <mat-error *ngIf="errors.postcode">{{errors.postcode}}</mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput disabled placeholder="Community">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <input matInput disabled placeholder="District">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput disabled placeholder="Province">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <input matInput placeholder="Latitude" name="latitude" required 
          [(ngModel)]="station.Latitude" type="number" min="-90" max="90">
          <mat-error *ngIf="errors.latitude">{{errors.latitude}}</mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Longitude" name="longitude" required 
          [(ngModel)]="station.Longitude" type="number" min="-180" max="180">
          <mat-error *ngIf="errors.longitude">{{errors.longitude}}</mat-error>
        </mat-form-field>
      </td>
    </tr>
    <button mat-raised-button type="submit" [disabled]="stationForm.invalid" color="primary">
        Create
    </button>
  </table>
  <div class="google-maps">
    <wetr-maps [station]="station"></wetr-maps>
  </div>
</form>