.measurement-content {
    min-height: 400px;
    width: 100%;
}

.mat-spinner {
    margin: auto;
    margin-top: 40px;
}

mat-icon {
    width: 50px;
    height: 50px;
}

.measurement-button-toolbar {
    margin: 10px auto;
    width: fit-content;
}

div.measurement-button-toolbar img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
    border: 0;
}

tr.mat-row {
    height: 20px;
}

th.mat-header.row {
    height: 30px;
}

mat-expansion-panel {
    background-color: rgba(0,0,0,.04);
}

table {
    width: 50%;
    background-color: rgba(0,0,0,0);
}

div.custom-date-input {
    width: fit-content;
    margin: 10px auto;
    padding-top: 10px; 
}

button.mat-stroked-button {
    margin-left: 10px;
}

.measurement-chart-container {
    width: 50%;
}

.measurement-panel-body{
    width: 100%;    
    display: flex;
}