<h1 class="mat-h1">Dashboard</h1>
<div *ngIf="!auth.isAuthenticated()">
  <h2 class="mat-h2">You have to be logged in to save stations to your dashboard.</h2>
  <button mat-raised-button (click)="auth.login()">Login</button>
</div>

<div *ngIf="auth.isAuthenticated()">
  <div *ngIf="dashboardEmpty">
    <h2 class="mat-h2">There are no stations in your dashboard. Click <a routerLink="../stations">here</a> to search for stations.</h2>
  </div>
  <div *ngIf="(!stations || stations.length === 0) && !dashboardEmpty">
    <mat-spinner></mat-spinner>
  </div>
  <mat-grid-list *ngIf="stations" cols="3" rowHeight="400">
    <mat-grid-tile *ngFor="let station of stations">
      <mat-card class="dashboard-card" color="primary">
        <mat-card-header>
          <mat-card-title>
            {{ station.Name }} ({{ station.PostCode.Code }})
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu>
              <button mat-menu-item [matMenuTriggerFor]="dataviewoptionsmenu">
                <mat-icon>show_chart</mat-icon>
                <span>Show Data as</span>
              </button>
              <button mat-menu-item (click)="navigateToStationDetails(station)">
                <mat-icon>details</mat-icon>
                <span>Show details</span>
              </button>
              <button mat-menu-item (click)="removeStationFromDashboard(station)">
                <mat-icon>remove</mat-icon>
                <span>Remove from Dashboard</span>
              </button>
            </mat-menu>
            <mat-menu #dataviewoptionsmenu="matMenu">
                <button mat-menu-item (click)="changeDataViewInDashboardCard('polarArea')">
                  <mat-icon>grid_on</mat-icon>
                  <span>Grid</span>
                </button>
                <button mat-menu-item (click)="changeDataViewInDashboardCard('polarArea')">
                  <mat-icon>donut_small</mat-icon>
                  <span>Polar Area Chart</span>
                </button>
                <button mat-menu-item (click)="changeDataViewInDashboardCard('pie')">
                  <mat-icon>pie_chart</mat-icon>
                  <span>Pie Chart</span>
                </button>
              </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <wetr-dashboard-card-content [station]="station"
              [events]="eventsSubject.asObservable()">
            </wetr-dashboard-card-content>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>