<h1 class="mat-h1">Dashboard</h1>
<div *ngIf="!auth.isAuthenticated()">
  <h2 class="mat-h2">You have to be logged in to save stations to your dashboard.</h2>
  <button mat-raised-button (click)="auth.login()">Login</button>
</div>

<div *ngIf="auth.isAuthenticated()">
  <div *ngIf="dashboardEmpty">
    <h2 class="mat-h2">There are no stations in your dashboard. Click <a routerLink="../stations">here</a> to search for stations.</h2>
  </div>
  <div *ngIf="(!stations || stations.length === 0) && !dashboardEmpty">
    <mat-spinner></mat-spinner>
  </div>
  <mat-grid-list *ngIf="stations" cols="3" rowHeight="400">
    <mat-grid-tile *ngFor="let station of stations">
      <wetr-dashboard-card-content 
        [station]="station" 
        (removeStationFromDashboardEvent)="removeStationFromDashboard($event)">
      </wetr-dashboard-card-content>
    </mat-grid-tile>
  </mat-grid-list>
</div>